<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>La com LCI</title>
		<link rel="stylesheet" style='text/css' href='css/super_chat.css'>
	</head>

	<body>
 		<form method='POST' action='/define/login' id='communication-formulaire'>
			<div>
           		<input type='text' name='login' id='textbox-login' placeholder='Indiquez votre login' />
           		<input type='submit' id='submit-login' value='Envoyer le login' />
			</div>
        </form>

		<header class='show-on-logon'>
			<div>
				<input type="color" <% if (couleur) { %>value=<%= couleur %> <% } else { %> value="#ffffff" <% } %> id="couleur" name="couleur" />
				<h1>
					<p id='login'><%= login %></p>
				</h1>
			</div>
			<div>	
				<% if (admin == true) { %> <p><span>Bannir </span><input type='checkbox' id='bannir'/></p><% } %>
				<p>	<span id='option-notifications'>Activer les notifications </span><input type='checkbox' id='activation-notifications'/>
					<span id='option-reinitialiser'>Réinitialiser le t'chat </span><input type='checkbox' id='reset-chat'/>
				</p>
			</div>
		</header>
		<section id='section-1' class='show-on-logon'>
			<div id='sous-section-1' class='sous-section'>
				<div id='encart-tete'>
					<p class='paragraphe-admin'><span id='message-admin'><%= message %></span></p>
					<div id='encart-ecriture_message'>
						<p>
							<textarea name='socket-message' id='socket-message' style="background-color:"<%= couleur %>></textarea>
						</p>
						<p>
                        	<input type='button' id='envoi-socket-message' value='Envoyer le message à tous' />
                    	</p>
					</div>
				</div>
				<div id='sous-section-3'>
					<div id='div-liste-utilisateurs'>
                    	<% if (login) {%>
                    	    <h1>
                    	        <% if (nombreDePostesConnectes > 1) { %>
                    	            <span id='nombreDePostesConnectes'><%= nombreDePostesConnectes %></span> &nbsp; utilisateurs : 
                    	        <% } else if (nombreDePostesConnectes == 1) { %>
                    	            Est connecté
                    	        <% } else { %>
                    	            0 utilisateur
                    	        <% } %>
                    	    </h1>
                    	    <p><i><b>(cliquez sur un nom pour envoyer le message en privé)</b></i></p>
                    	    <div id='liste-utilisateurs'>
                    	        <% tabLogin.forEach(function(user) { %>
                    	            <p class='utilisateur' onClick=sendToUtilisateur('<%= user %>');><%= user %></p>
                    	        <% }); %>
                    	    </div>
                    	<% } %>
                	</div>
				</div>
			</div>
			<div id='sous-section-2' class='sous-section'>
				<div id='chat'>
                </div>
			</div>
		</section>
		<section id='section-2'>
		</section>


		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/fonctions.js"></script>
	</body>
</html>

		

